# pytest cache (double ignore)
.pytest_cache/

# tox cache
.tox/

# python cache files
__pycache__/

# build folder
dist/

# python virtual environments
venv/
.venv/

# local poetry toml
poetry.toml

# .env file that contains GITHUB_TOKEN
.env
